@import "tailwindcss";

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

@theme {
    /*Size*/
    --text-h1: 128px;
    --text-h2: 48px;
    --text-h3: 24px;
    --text-h4: 20px;
    --text-h5: 24px;
    --text-h6: 32px;
    --text-h7: 20px;
    --text-h8: 24px;
    --text-h9: 16px;
    --text-h10: 24px;
    --text-h11: 48px;
    --text-h12: 20px;
    --h13-h13: 18px;
    --h14-h14: 24px;
    --text-h15: 14px;

    /*Colors*/
    --color-gray-500: #828B8D;
    --color-blue: #3760E7;
    --color-blue2: #1B46D4;
    --color-light-blue: #E2E2E2;
    --color-light-blue2: #E2E2E2;
}